persistence/src/main/resources/dataSets/test.dtd

<!ELEMENT dataset (
    AUDIT*,
    AUDIT_TEST*,
    CONTENT*,
    CONTENT_RELATIONSHIP*,
    CRITERION*,
    DECISION_LEVEL*,
    EVIDENCE*,
    EVIDENCE_ELEMENT*,
    LEVEL*,
    NOMENCLATURE*,
    NOMENCLATURE_ELEMENT*,
    PROCESS_REMARK*,
    PROCESS_RESULT*,
    REFERENCE*,
    RULE*,
    RULE_PACKAGE*,
    SCOPE*,
    STANDARD_MESSAGE*,
    TEST*,
    THEME*,
    WEB_RESOURCE*)>

<!ELEMENT AUDIT EMPTY>
<!ATTLIST AUDIT
    Id_Audit CDATA #REQUIRED
    Comment CDATA #IMPLIED
    Dt_Creation CDATA #IMPLIED
    Status CDATA #IMPLIED
>

<!ELEMENT AUDIT_TEST EMPTY>
<!ATTLIST AUDIT_TEST
    Id_Audit CDATA #REQUIRED
    Id_Test CDATA #REQUIRED
>

<!ELEMENT CONTENT EMPTY>
<!ATTLIST CONTENT
    DTYPE CDATA #REQUIRED
    Id_Content CDATA #REQUIRED
    Dt_Loading CDATA #IMPLIED
    Http_Status_Code CDATA #IMPLIED
    Uri CDATA #REQUIRED
    Binary_Content CDATA #IMPLIED
    Adapted_Content CDATA #IMPLIED
    Source CDATA #IMPLIED
    Charset CDATA #IMPLIED
    Doctype CDATA #IMPLIED
    Id_Audit CDATA #IMPLIED
    Id_Page CDATA #IMPLIED
>

<!ELEMENT CONTENT_RELATIONSHIP EMPTY>
<!ATTLIST CONTENT_RELATIONSHIP
    Id_Content_Child CDATA #REQUIRED
    Id_Content_Parent CDATA #REQUIRED
>

<!ELEMENT CRITERION EMPTY>
<!ATTLIST CRITERION
    Id_Criterion CDATA #REQUIRED
    Cd_Criterion CDATA #IMPLIED
    Description CDATA #IMPLIED
    Label CDATA #IMPLIED
    Rank CDATA #IMPLIED
    Url CDATA #IMPLIED
    Reference_Id_Reference CDATA #IMPLIED
    Theme_Id_Theme CDATA #IMPLIED
>

<!ELEMENT DECISION_LEVEL EMPTY>
<!ATTLIST DECISION_LEVEL
    Id_Decision_Level CDATA #REQUIRED
    Cd_Decision_Level CDATA #IMPLIED
    Description CDATA #IMPLIED
    Label CDATA #REQUIRED
>

<!ELEMENT EVIDENCE EMPTY>
<!ATTLIST EVIDENCE
    Id_Evidence CDATA #REQUIRED
    Cd_Evidence CDATA #IMPLIED
    Description CDATA #IMPLIED
    Long_Label CDATA #IMPLIED
>

<!ELEMENT EVIDENCE_ELEMENT EMPTY>
<!ATTLIST EVIDENCE_ELEMENT
    Id_Evidence_Element CDATA #REQUIRED
    Element_Value CDATA #REQUIRED
    EVIDENCE_Id_Evidence CDATA #IMPLIED
    PROCESS_REMARK_Id_Process_Remark CDATA #IMPLIED
>

<!ELEMENT LEVEL EMPTY>
<!ATTLIST LEVEL
    Id_Level CDATA #REQUIRED
    Cd_Level CDATA #IMPLIED
    Description CDATA #IMPLIED
    Label CDATA #IMPLIED
    Rank CDATA #IMPLIED
>

<!ELEMENT NOMENCLATURE EMPTY>
<!ATTLIST NOMENCLATURE
    Id_Nomenclature CDATA #REQUIRED
    Cd_Nomenclature CDATA #IMPLIED
    Description CDATA #IMPLIED
    Long_Label CDATA #IMPLIED
    Short_Label CDATA #IMPLIED
    Id_Nomenclature_Parent CDATA #IMPLIED
>

<!ELEMENT NOMENCLATURE_ELEMENT EMPTY>
<!ATTLIST NOMENCLATURE_ELEMENT
    DTYPE CDATA #REQUIRED
    Id_Nomenclature_Element CDATA #REQUIRED
    Label CDATA #REQUIRED
    shortValue CDATA #IMPLIED
    Id_Nomenclature CDATA #IMPLIED
>

<!ELEMENT PROCESS_REMARK EMPTY>
<!ATTLIST PROCESS_REMARK
    DTYPE CDATA #REQUIRED
    Id_Process_Remark CDATA #REQUIRED
    Issue CDATA #IMPLIED
    Message_Code CDATA #IMPLIED
    Selected_Element CDATA #IMPLIED
    Selection_Expression CDATA #IMPLIED
    Character_Position CDATA #IMPLIED
    Line_Number CDATA #IMPLIED
    Target CDATA #IMPLIED
    Id_Process_Result CDATA #IMPLIED
>

<!ELEMENT PROCESS_RESULT EMPTY>
<!ATTLIST PROCESS_RESULT
    DTYPE CDATA #REQUIRED
    Id_Process_Result CDATA #REQUIRED
    Element_Counter CDATA #IMPLIED
    Definite_Value CDATA #IMPLIED
    Indefinite_Value CDATA #IMPLIED
    Id_Audit_Gross_Result CDATA #IMPLIED
    Id_Audit_Net_Result CDATA #IMPLIED
    Id_Process_Result_Parent CDATA #IMPLIED
    Id_Web_Resource CDATA #REQUIRED
    Id_Test CDATA #IMPLIED
>

<!ELEMENT REFERENCE EMPTY>
<!ATTLIST REFERENCE
    Id_Reference CDATA #REQUIRED
    Cd_Reference CDATA #IMPLIED
    Description CDATA #IMPLIED
    Label CDATA #REQUIRED
    Rank CDATA #IMPLIED
    Url CDATA #IMPLIED
>

<!ELEMENT RULE EMPTY>
<!ATTLIST RULE
    Id_Rule CDATA #REQUIRED
    Class_Name CDATA #REQUIRED
    Description CDATA #IMPLIED
    Id_Rule_Package CDATA #IMPLIED
>

<!ELEMENT RULE_PACKAGE EMPTY>
<!ATTLIST RULE_PACKAGE
    Id_Rule_Package CDATA #REQUIRED
    Description CDATA #IMPLIED
    Package_Name CDATA #IMPLIED
>

<!ELEMENT SCOPE EMPTY>
<!ATTLIST SCOPE
    Id_Scope CDATA #REQUIRED
    Code CDATA #IMPLIED
    Description CDATA #IMPLIED
    Label CDATA #REQUIRED
>

<!ELEMENT STANDARD_MESSAGE EMPTY>
<!ATTLIST STANDARD_MESSAGE
    Id_Standard_Message CDATA #REQUIRED
    Cd_Standard_Message CDATA #IMPLIED
    Label CDATA #IMPLIED
    Text CDATA #IMPLIED
>

<!ELEMENT TEST EMPTY>
<!ATTLIST TEST
    Id_Test CDATA #REQUIRED
    Cd_Test CDATA #IMPLIED
    Description CDATA #IMPLIED
    Label CDATA #IMPLIED
    Rank CDATA #IMPLIED
    Rule_Archive_Name CDATA #IMPLIED
    Rule_Class_Name CDATA #IMPLIED
    Rule_Design_Url CDATA #IMPLIED
    Id_Criterion CDATA #IMPLIED
    Id_Decision_Level CDATA #IMPLIED
    Id_Level CDATA #IMPLIED
    Id_Rule CDATA #IMPLIED
    Id_Scope CDATA #IMPLIED
>

<!ELEMENT THEME EMPTY>
<!ATTLIST THEME
    Id_Theme CDATA #REQUIRED
    Cd_Theme CDATA #IMPLIED
    Description CDATA #IMPLIED
    Label CDATA #REQUIRED
    Rank CDATA #IMPLIED
>

<!ELEMENT WEB_RESOURCE EMPTY>
<!ATTLIST WEB_RESOURCE
    DTYPE CDATA #REQUIRED
    Id_Web_Resource CDATA #REQUIRED
    Label CDATA #IMPLIED
    Mark CDATA #IMPLIED
    Url CDATA #REQUIRED
    Id_Audit CDATA #IMPLIED
    Id_Web_Resource_Parent CDATA #IMPLIED
>

