ws/tanaguru-ws-client/src/wsdl/localhost_8180/tanaguru-ws/AuditWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-hudson-48-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-hudson-48-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.tanaguru.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.tanaguru.org/" name="AuditWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.tanaguru.org/" schemaLocation="http://localhost:8180/tanaguru-ws/AuditWebService?xsd=1" />
</xsd:schema>
</types>
<message name="auditPage">
<part name="parameters" element="tns:auditPage" />
</message>
<message name="auditPageResponse">
<part name="parameters" element="tns:auditPageResponse" />
</message>
<message name="auditSite">
<part name="parameters" element="tns:auditSite" />
</message>
<message name="auditSiteResponse">
<part name="parameters" element="tns:auditSiteResponse" />
</message>
<message name="setAuditService">
<part name="parameters" element="tns:setAuditService" />
</message>
<message name="setAuditServiceResponse">
<part name="parameters" element="tns:setAuditServiceResponse" />
</message>
<message name="auditSiteWithoutCrawler">
<part name="parameters" element="tns:auditSiteWithoutCrawler" />
</message>
<message name="auditSiteWithoutCrawlerResponse">
<part name="parameters" element="tns:auditSiteWithoutCrawlerResponse" />
</message>
<portType name="AuditWeb">
<operation name="auditPage">
<input message="tns:auditPage" />
<output message="tns:auditPageResponse" />
</operation>
<operation name="auditSite">
<input message="tns:auditSite" />
<output message="tns:auditSiteResponse" />
</operation>
<operation name="setAuditService">
<input message="tns:setAuditService" />
<output message="tns:setAuditServiceResponse" />
</operation>
<operation name="auditSiteWithoutCrawler">
<input message="tns:auditSiteWithoutCrawler" />
<output message="tns:auditSiteWithoutCrawlerResponse" />
</operation>
</portType>
<binding name="AuditWebPortBinding" type="tns:AuditWeb">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="auditPage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="auditSite">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setAuditService">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="auditSiteWithoutCrawler">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="AuditWebService">
<port name="AuditWebPort" binding="tns:AuditWebPortBinding">
<soap:address location="http://localhost:8180/tanaguru-ws/AuditWebService" />
</port>
</service>
</definitions>
