ws/tanaguru-ws-client/src/wsdl/localhost_8180/tanaguru-ws/AuditWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-hudson-48-. --><xs:schema xmlns:tns="http://ws.tanaguru.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.tanaguru.org/">

<xs:element name="auditImpl" type="tns:auditImpl" />

<xs:element name="auditPage" type="tns:auditPage" />

<xs:element name="auditPageResponse" type="tns:auditPageResponse" />

<xs:element name="auditSite" type="tns:auditSite" />

<xs:element name="auditSiteResponse" type="tns:auditSiteResponse" />

<xs:element name="auditSiteWithoutCrawler" type="tns:auditSiteWithoutCrawler" />

<xs:element name="auditSiteWithoutCrawlerResponse" type="tns:auditSiteWithoutCrawlerResponse" />

<xs:element name="criterionImpl" type="tns:criterionImpl" />

<xs:element name="decisionLevelImpl" type="tns:decisionLevelImpl" />

<xs:element name="definiteResultImpl" type="tns:definiteResultImpl" />

<xs:element name="indefiniteResultImpl" type="tns:indefiniteResultImpl" />

<xs:element name="javascriptContentImpl" type="tns:javascriptContentImpl" />

<xs:element name="levelImpl" type="tns:levelImpl" />

<xs:element name="pageImpl" type="tns:pageImpl" />

<xs:element name="processRemarkImpl" type="tns:processRemarkImpl" />

<xs:element name="referenceImpl" type="tns:referenceImpl" />

<xs:element name="ruleImpl" type="tns:ruleImpl" />

<xs:element name="rulePackageImpl" type="tns:rulePackageImpl" />

<xs:element name="scopeImpl" type="tns:scopeImpl" />

<xs:element name="setAuditService" type="tns:setAuditService" />

<xs:element name="setAuditServiceResponse" type="tns:setAuditServiceResponse" />

<xs:element name="siteImpl" type="tns:siteImpl" />

<xs:element name="sourceCodeRemarkImpl" type="tns:sourceCodeRemarkImpl" />

<xs:element name="sspImpl" type="tns:sspImpl" />

<xs:element name="stylesheetContentImpl" type="tns:stylesheetContentImpl" />

<xs:element name="testImpl" type="tns:testImpl" />

<xs:element name="themeImpl" type="tns:themeImpl" />

<xs:complexType name="auditSiteWithoutCrawler">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="arg2" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="auditSiteWithoutCrawlerResponse">
<xs:sequence>
<xs:element name="return" type="tns:auditImpl" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="auditImpl">
<xs:sequence>
<xs:element name="comment" type="xs:string" minOccurs="0" />
<xs:element name="contentList" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:element ref="tns:sspImpl" />
<xs:element ref="tns:javascriptContentImpl" />
<xs:element ref="tns:stylesheetContentImpl" />
</xs:choice>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="dateOfCreation" type="xs:dateTime" minOccurs="0" />
<xs:element name="grossResultList" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:element ref="tns:indefiniteResultImpl" />
<xs:element ref="tns:definiteResultImpl" />
</xs:choice>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="mark" type="xs:float" />
<xs:element name="netResultList" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element ref="tns:definiteResultImpl" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="status" type="tns:auditStatus" minOccurs="0" />
<xs:choice>
<xs:element ref="tns:pageImpl" />
<xs:element ref="tns:siteImpl" />
</xs:choice>
<xs:element name="testList" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element ref="tns:testImpl" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sspImpl">
<xs:complexContent>
<xs:extension base="tns:contentImpl">
<xs:sequence>
<xs:element name="DOM" type="xs:string" minOccurs="0" />
<xs:element name="javascript" type="xs:string" minOccurs="0" />
<xs:element ref="tns:pageImpl" />
<xs:element name="relatedContentImpl" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:element ref="tns:javascriptContentImpl" />
<xs:element ref="tns:stylesheetContentImpl" />
</xs:choice>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="source" type="xs:string" minOccurs="0" />
<xs:element name="stylesheet" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="contentImpl" abstract="true">
<xs:sequence>
<xs:element name="dateOfLoading" type="xs:dateTime" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="URI" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="pageImpl">
<xs:complexContent>
<xs:extension base="tns:webResourceImpl">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="webResourceImpl" abstract="true">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="label" type="xs:string" minOccurs="0" />
<xs:element name="processResultList" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:element ref="tns:indefiniteResultImpl" />
<xs:element ref="tns:definiteResultImpl" />
</xs:choice>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="URL" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="indefiniteResultImpl">
<xs:complexContent>
<xs:extension base="tns:processResultImpl">
<xs:sequence>
<xs:element name="indefiniteValue" type="xs:string" minOccurs="0" />
<xs:element name="value" type="xs:anyType" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="processResultImpl" abstract="true">
<xs:sequence>
<xs:element name="childResultList" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:element ref="tns:definiteResultImpl" />
<xs:element ref="tns:indefiniteResultImpl" />
</xs:choice>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="remarkList" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:element ref="tns:processRemarkImpl" />
<xs:element ref="tns:sourceCodeRemarkImpl" />
</xs:choice>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice>
<xs:element ref="tns:pageImpl" />
<xs:element ref="tns:siteImpl" />
</xs:choice>
<xs:element ref="tns:testImpl" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="definiteResultImpl">
<xs:complexContent>
<xs:extension base="tns:processResultImpl">
<xs:sequence>
<xs:element name="definiteValue" type="tns:testSolution" minOccurs="0" />
<xs:element name="value" type="xs:anyType" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="processRemarkImpl">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="issue" type="tns:testSolution" minOccurs="0" />
<xs:element name="messageCode" type="xs:string" minOccurs="0" />
<xs:element name="selectionExpression" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sourceCodeRemarkImpl">
<xs:complexContent>
<xs:extension base="tns:processRemarkImpl">
<xs:sequence>
<xs:element name="characterPosition" type="xs:int" />
<xs:element name="lineNumber" type="xs:int" />
<xs:element name="target" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="siteImpl">
<xs:complexContent>
<xs:extension base="tns:webResourceImpl">
<xs:sequence>
<xs:element name="componentList" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:choice minOccurs="0" maxOccurs="unbounded">
<xs:element ref="tns:siteImpl" />
<xs:element ref="tns:pageImpl" />
</xs:choice>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="testImpl">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element ref="tns:criterionImpl" />
<xs:element ref="tns:decisionLevelImpl" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="label" type="xs:string" minOccurs="0" />
<xs:element ref="tns:levelImpl" />
<xs:element name="rank" type="xs:int" />
<xs:element ref="tns:ruleImpl" />
<xs:element name="ruleArchiveName" type="xs:string" minOccurs="0" />
<xs:element name="ruleClassName" type="xs:string" minOccurs="0" />
<xs:element ref="tns:scopeImpl" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="criterionImpl">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="label" type="xs:string" minOccurs="0" />
<xs:element name="rank" type="xs:int" />
<xs:element ref="tns:referenceImpl" />
<xs:element name="testList" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element ref="tns:testImpl" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element ref="tns:themeImpl" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="referenceImpl">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element name="criterionList" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element ref="tns:criterionImpl" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="label" type="xs:string" minOccurs="0" />
<xs:element name="rank" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="themeImpl">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element name="criterionList" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element ref="tns:criterionImpl" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="label" type="xs:string" minOccurs="0" />
<xs:element name="rank" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="decisionLevelImpl">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="label" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="levelImpl">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="label" type="xs:string" minOccurs="0" />
<xs:element name="rank" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ruleImpl">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element ref="tns:rulePackageImpl" />
<xs:element name="testList" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element ref="tns:testImpl" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rulePackageImpl">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="packageName" type="xs:string" minOccurs="0" />
<xs:element name="ruleList" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element ref="tns:ruleImpl" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="scopeImpl">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="label" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="javascriptContentImpl">
<xs:complexContent>
<xs:extension base="tns:relatedTextContentImpl">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="relatedTextContentImpl" abstract="true">
<xs:complexContent>
<xs:extension base="tns:relatedContentImpl">
<xs:sequence>
<xs:element name="source" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="relatedContentImpl" abstract="true">
<xs:complexContent>
<xs:extension base="tns:contentImpl">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="stylesheetContentImpl">
<xs:complexContent>
<xs:extension base="tns:relatedTextContentImpl">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="auditPage">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="auditPageResponse">
<xs:sequence>
<xs:element name="return" type="tns:auditImpl" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setAuditService">
<xs:sequence>
<xs:element name="arg0" type="xs:anyType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setAuditServiceResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="auditSite">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="auditSiteResponse">
<xs:sequence>
<xs:element name="return" type="tns:auditImpl" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:simpleType name="testSolution">
<xs:restriction base="xs:string">
<xs:enumeration value="FAILED" />
<xs:enumeration value="NEED_MORE_INFO" />
<xs:enumeration value="NOT_APPLICABLE" />
<xs:enumeration value="PASSED" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="auditStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="ANALYSIS" />
<xs:enumeration value="COMPLETED" />
<xs:enumeration value="CONSOLIDATION" />
<xs:enumeration value="CONTENT_ADAPTING" />
<xs:enumeration value="CONTENT_LOADING" />
<xs:enumeration value="CRAWLING" />
<xs:enumeration value="ERROR" />
<xs:enumeration value="INITIALISATION" />
<xs:enumeration value="PROCESSING" />
</xs:restriction>
</xs:simpleType>
</xs:schema>
